body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    margin-top: 40px;
    color: #555;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.graph {
    text-align: center;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

/* Estilo para el botón personalizado */
.custom-file-input {
    padding: 12px 20px;
    background-color: blue; /* Color de fondo */
    color: white; /* Color de texto */
    border-radius: 15px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    display: inline-block;
    transition: background-color 0.3s, transform 0.2s;
}

/* Efecto al pasar el cursor por encima */
.custom-file-input:hover {
    background-color: #45a049; /* Color más oscuro al pasar el cursor */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}

/* Ocultar el input original */
#csvFileInput {
    display: none;
}
